.custom-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2rem;
    margin-right: 10rem;
    line-height: 1.2;
}

.custom-description {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-right: 1rem;

}
