.custom-logo {
    position: fixed;  /* Esto fija la imagen en la pantalla */
    top: 20px;        /* Distancia desde la parte superior */
    right: 20px;       /* Distancia desde la parte izquierda */
    max-width: 150px; /* Limita el tamaño máximo de la imagen */
    z-index: 9999;    /* Asegúrate de que la imagen esté por encima de otros elementos */
}

.custom-byline {
    position: absolute;
    font-size: 2rem;
    font-family: "Roboto Slab", serif;
    text-align: left;
    color: #ffcc06;
    left:80px;
    max-width: 150px;
    position: relative;
}

.custom-subs {
    font-size: 1.35rem;
    font-family: "Roboto Slab", serif;
    color: #ffcc06;
    text-align: left;
    margin-left: -50px;
    margin-top: -30px;
}

.custom-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
}

.custom-main-title {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    text-align: left;
    line-height: 0.92;
    letter-spacing: 1px;
    margin-top: -2rem;
}

.highlight {
    color: #ffcc06 !important;
    font-size: 5rem;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    text-align: left;
    margin-bottom: 2rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

.custom-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    text-align: left;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.custom-description {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-right: 1rem;
}

.custom-button {
    margin-top: 3rem;
    margin-left: 7rem;
    padding: 1rem;
    font-size: 16px;
    background-color: #191919;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #ffcc06;
    color: black;
}



/* Smaller on mobile */
@media (max-width: 768px) {
    .custom-main-title {
        font-size: 2rem;
    }

    .custom-title {
        font-size: 14px;
    }
    .custom-description {
        font-size: 14px;
        padding: 0 10px; /* padding para evitar que el texto toque los bordes */
    }
}

/* Responsive */
@media (max-width: 480px) {
    .custom-main-title {
        font-size: 2rem;
    }

    .custom-title {
        font-size: 18px;
    }

    .custom-description {
        font-size: 2rem;
        padding: 0 15px; /* Add more padding for small screens */
    }
}

/* Responsive 1080 */
@media (max-width: 1080px) {
    .custom-main-title {
        font-size: 2.5rem;
    }

    .custom-title {
        font-size: 18px;
    }

    .custom-description {
        font-size: 1rem;
        padding: 0 15px; /* Add more padding for small screens */
    }
}
